[submodule "themes/casper-two"]
	path = themes/casper-two
	url = https://github.com/eueung/hugo-casper-two.git
[submodule "public"]
	path = public
	url = https://github.com/samudranb/samudranb.github.io
